<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Clean Blog - Start Bootstrap Theme</title>

  <!-- Bootstrap core CSS -->
  <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="../vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet'
    type='text/css'>
  <link
    href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
    rel='stylesheet' type='text/css'>

  <!-- Custom styles for this template -->
  <link href="../css/clean-blog.css" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand" href="../index.html">GoBusiness</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
        data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
        aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="../index.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="grupo.html">Grupo GoBusiness</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="solutions.html">Soluções</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="produtos.html">Produtos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="case_studies.html">Case Studies</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contacts.html">Contactos</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('../imagens/sea_waves.jpg')">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>One Stop <br> Shop</h1>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->

  <div class="container">
    <div class="row mb-4">
      <div class="col-lg-8 col-md-10 mx-auto text-center">
        <h2 class="mt-0 mb-2 text-center">Produtos </h2>
        <p class="text-center">Localizada no Luxemburgo, o maior centro nanceiro da Europa, a GoBusiness, em conjunto
          com a sua rede de parceiros internacionais, disponibiliza soluções de vanguarda na Proteção de Património.</p>
        <a href="contacts.html" class="btn btn-outline-dark">Mais Informação</a>
      </div>
    </div>

  </div>

  <section class="page-section" id="services">

    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="card h-100 border-light">
            <div class="card-body d-flex flex-column text-center">
              <svg class="circle-chart" viewbox="0 0 33.83098862 33.83098862" width="180" height="180"
                xmlns="http://www.w3.org/2000/svg">
                <circle class="circle-chart__background" stroke="#efefef" stroke-width="2" fill="none" cx="16.91549431"
                  cy="16.91549431" r="15.91549431" />
                <circle class="circle-chart__circle" stroke="#00acc1" stroke-width="2" stroke-dasharray="40,100"
                  stroke-linecap="round" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431" />
                <g class="circle-chart__info">
                  <text class="circle-chart__percent" x="16.91549431" y="15.5" alignment-baseline="central"
                    text-anchor="middle" font-size="8">40%</text>
                </g>
              </svg>
              <h3 class="mt-2">ESTRUTURAS</h3>
              <p class="card-text text-center">A GoBusiness oferece um conjunto variado de soluções para a proteção do
                pa- trimónio. Estas soluções podem ser utili- zadas individualmente ou conjugadas entre si, com um único
                propósito: encon- trar a solução mais segura e que melhor se adapte às “necessidades de cada cliente”.
              </p>
              <button type="button" class="mt-auto btn btn-sm btn-block btn-outline-dark">Mais Informação</button>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card h-100 border-light">
            <div class="card-body d-flex flex-column">
              <svg class="circle-chart" viewbox="0 0 33.83098862 33.83098862" width="180" height="180"
                xmlns="http://www.w3.org/2000/svg">
                <circle class="circle-chart__background" stroke="#efefef" stroke-width="2" fill="none" cx="16.91549431"
                  cy="16.91549431" r="15.91549431" />
                <circle class="circle-chart__circle" stroke="#00acc1" stroke-width="2" stroke-dasharray="100,100"
                  stroke-linecap="round" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431" />
                <g class="circle-chart__info">
                  <text class="circle-chart__percent" x="16.91549431" y="15.5" alignment-baseline="central"
                    text-anchor="middle" font-size="8">100%</text>
                </g>
              </svg>
              <h3 class="mt-2">FUNDO DEDICADO</h3>
              <p class="card-text text-center">A GoBusiness oferece um conjunto variado de soluções para a proteção do
                pa- trimónio. Estas soluções podem ser utili- zadas individualmente ou conjugadas entre si, com um único
                propósito: encon- trar a solução mais segura e que melhor se adapte às “necessidades de cada cliente”.
              </p>
              <button type="button" class="mt-auto btn btn-sm btn-block btn-outline-dark">Mais Informação</button>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card h-100 border-light">
            <div class="card-body d-flex flex-column">
              <svg class="circle-chart" viewbox="0 0 33.83098862 33.83098862" width="180" height="180"
                xmlns="http://www.w3.org/2000/svg">
                <circle class="circle-chart__background" stroke="#efefef" stroke-width="2" fill="none" cx="16.91549431"
                  cy="16.91549431" r="15.91549431" />
                <circle class="circle-chart__circle" stroke="#00acc1" stroke-width="2" stroke-dasharray="65,100"
                  stroke-linecap="round" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431" />
                <g class="circle-chart__info">
                  <text class="circle-chart__percent" x="16.91549431" y="15.5" alignment-baseline="central"
                    text-anchor="middle" font-size="8">65%</text>
                </g>
              </svg>
              <h3 class="mt-2">UNIVERSAL LIFE</h3>
              <p class="card-text text-center">A GoBusiness oferece um conjunto variado de soluções para a proteção do
                pa- trimónio. Estas soluções podem ser utili- zadas individualmente ou conjugadas entre si, com um único
                propósito: encon- trar a solução mais segura e que melhor se adapte às “necessidades de cada cliente”.
              </p>
              <button type="button" class="mt-auto btn btn-sm btn-block btn-outline-dark">Mais Informação</button>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4">
          <div class="card h-100 border-light">
            <div class="card-body d-flex flex-column">
              <svg class="circle-chart" viewbox="0 0 33.83098862 33.83098862" width="180" height="180"
                xmlns="http://www.w3.org/2000/svg">
                <circle class="circle-chart__background" stroke="#efefef" stroke-width="2" fill="none" cx="16.91549431"
                  cy="16.91549431" r="15.91549431" />
                <circle class="circle-chart__circle" stroke="#00acc1" stroke-width="2" stroke-dasharray="40,100"
                  stroke-linecap="round" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431" />
                <g class="circle-chart__info">
                  <text class="circle-chart__percent" x="16.91549431" y="15.5" alignment-baseline="central"
                    text-anchor="middle" font-size="8">40%</text>
                </g>
              </svg>
              <h3 class="mt-2">EVOLUTIO</h3>
              <p class="card-text text-center">A GoBusiness oferece um conjunto variado de soluções para a proteção do
                pa- trimónio. Estas soluções podem ser utili- zadas individualmente ou conjugadas entre si, com um único
                propósito: encon- trar a solução mais segura e que melhor se adapte às “necessidades de cada cliente”.
              </p>
              <button type="button" class="mt-auto btn btn-sm btn-block btn-outline-dark">Mais Informação</button>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card h-100 border-light">
            <div class="card-body d-flex flex-column">
              <svg class="circle-chart" viewbox="0 0 33.83098862 33.83098862" width="180" height="180"
                xmlns="http://www.w3.org/2000/svg">
                <circle class="circle-chart__background" stroke="#efefef" stroke-width="2" fill="none" cx="16.91549431"
                  cy="16.91549431" r="15.91549431" />
                <circle class="circle-chart__circle" stroke="#00acc1" stroke-width="2" stroke-dasharray="40,100"
                  stroke-linecap="round" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431" />
                <g class="circle-chart__info">
                  <text class="circle-chart__percent" x="16.91549431" y="15.5" alignment-baseline="central"
                    text-anchor="middle" font-size="8">40%</text>
                </g>
              </svg>
              <h3 class="mt-2">GOLDEN VISA</h3>
              <p class="card-text text-center">A GoBusiness oferece um conjunto variado de soluções para a proteção do
                pa- trimónio. Estas soluções podem ser utili- zadas individualmente ou conjugadas entre si, com um único
                propósito: encon- trar a solução mais segura e que melhor se adapte às “necessidades de cada cliente”.
              </p>
              <button type="button" class="mt-auto btn btn-sm btn-block btn-outline-dark">Mais Informação</button>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card h-100 border-light">
            <div class="card-body d-flex flex-column">
              <svg class="circle-chart" viewbox="0 0 33.83098862 33.83098862" width="180" height="180"
                xmlns="http://www.w3.org/2000/svg">
                <circle class="circle-chart__background" stroke="#efefef" stroke-width="2" fill="none" cx="16.91549431"
                  cy="16.91549431" r="15.91549431" />
                <circle class="circle-chart__circle" stroke="#00acc1" stroke-width="2" stroke-dasharray="40,100"
                  stroke-linecap="round" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431" />
                <g class="circle-chart__info">
                  <text class="circle-chart__percent" x="16.91549431" y="15.5" alignment-baseline="central"
                    text-anchor="middle" font-size="8">40%</text>
                </g>
              </svg>
              <h3 class="mt-2">RNH</h3>
              <p class="card-text text-center">A GoBusiness oferece um conjunto variado de soluções para a proteção do
                pa- trimónio. Estas soluções podem ser utili- zadas individualmente ou conjugadas entre si, com um único
                propósito: encon- trar a solução mais segura e que melhor se adapte às “necessidades de cada cliente”.
              </p>
              <button type="button" class="mt-auto btn btn-sm btn-block btn-outline-dark">Mais Informação</button>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4">
          <div class="card h-100 border-light">
            <div class="card-body d-flex flex-column">
              <svg class="circle-chart" viewbox="0 0 33.83098862 33.83098862" width="180" height="180"
                xmlns="http://www.w3.org/2000/svg">
                <circle class="circle-chart__background" stroke="#efefef" stroke-width="2" fill="none" cx="16.91549431"
                  cy="16.91549431" r="15.91549431" />
                <circle class="circle-chart__circle" stroke="#00acc1" stroke-width="2" stroke-dasharray="61,100"
                  stroke-linecap="round" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431" />
                <g class="circle-chart__info">
                  <text class="circle-chart__percent" x="16.91549431" y="15.5" alignment-baseline="central"
                    text-anchor="middle" font-size="8">61%</text>
                </g>
              </svg>
              <h3 class="mt-2">FUNDAÇÃO</h3>
              <p class="card-text text-center">A GoBusiness oferece um conjunto variado de soluções para a proteção do
                pa- trimónio. Estas soluções podem ser utili- zadas individualmente ou conjugadas entre si, com um único
                propósito: encon- trar a solução mais segura e que melhor se adapte às “necessidades de cada cliente”.
              </p>
              <button type="button" class="mt-auto btn btn-sm btn-block btn-outline-dark">Mais Informação</button>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card h-100 border-light">
            <div class="card-body d-flex flex-column">
              <svg class="circle-chart" viewbox="0 0 33.83098862 33.83098862" width="180" height="180"
                xmlns="http://www.w3.org/2000/svg">
                <circle class="circle-chart__background" stroke="#efefef" stroke-width="2" fill="none" cx="16.91549431"
                  cy="16.91549431" r="15.91549431" />
                <circle class="circle-chart__circle" stroke="#00acc1" stroke-width="2" stroke-dasharray="40,100"
                  stroke-linecap="round" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431" />
                <g class="circle-chart__info">
                  <text class="circle-chart__percent" x="16.91549431" y="15.5" alignment-baseline="central"
                    text-anchor="middle" font-size="8">40%</text>
                </g>
              </svg>
              <h3 class="mt-2">TRUST</h3>
              <p class="card-text text-center">A GoBusiness oferece um conjunto variado de soluções para a proteção do
                pa- trimónio. Estas soluções podem ser utili- zadas individualmente ou conjugadas entre si, com um único
                propósito: encon- trar a solução mais segura e que melhor se adapte às “necessidades de cada cliente”.
              </p>
              <button type="button" class="mt-auto btn btn-sm btn-block btn-outline-dark">Mais Informação</button>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card h-100 border-light">
            <div class="card-body d-flex flex-column">
              <svg class="circle-chart" viewbox="0 0 33.83098862 33.83098862" width="180" height="180"
                xmlns="http://www.w3.org/2000/svg">
                <circle class="circle-chart__background" stroke="#efefef" stroke-width="2" fill="none" cx="16.91549431"
                  cy="16.91549431" r="15.91549431" />
                <circle class="circle-chart__circle" stroke="#00acc1" stroke-width="2" stroke-dasharray="61,100"
                  stroke-linecap="round" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431" />
                <g class="circle-chart__info">
                  <text class="circle-chart__percent" x="16.91549431" y="15.5" alignment-baseline="central"
                    text-anchor="middle" font-size="8">61%</text>
                </g>
              </svg>
              <h3 class="mt-2">INVESTEMENT CELL</h3>
              <p class="card-text text-center">A GoBusiness oferece um conjunto variado de soluções para a proteção do
                pa- trimónio. Estas soluções podem ser utili- zadas individualmente ou conjugadas entre si, com um único
                propósito: encon- trar a solução mais segura e que melhor se adapte às “necessidades de cada cliente”.
              </p>
              <button type="button" class="mt-auto btn btn-sm btn-block btn-outline-dark">Mais Informação</button>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4">
            <div class="card h-100 border-light">
              <div class="card-body d-flex flex-column">
                <svg class="circle-chart" viewbox="0 0 33.83098862 33.83098862" width="180" height="180"
                  xmlns="http://www.w3.org/2000/svg">
                  <circle class="circle-chart__background" stroke="#efefef" stroke-width="2" fill="none"
                    cx="16.91549431" cy="16.91549431" r="15.91549431" />
                  <circle class="circle-chart__circle" stroke="#00acc1" stroke-width="2" stroke-dasharray="40,100"
                    stroke-linecap="round" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431" />
                  <g class="circle-chart__info">
                    <text class="circle-chart__percent" x="16.91549431" y="15.5" alignment-baseline="central"
                      text-anchor="middle" font-size="8">40%</text>
                  </g>
                </svg>
                <h3 class="mt-2">HOLDING</h3>
                <p class="card-text text-center">A GoBusiness oferece um conjunto variado de soluções para a proteção do
                  pa- trimónio. Estas soluções podem ser utili- zadas individualmente ou conjugadas entre si, com um
                  único
                  propósito: encon- trar a solução mais segura e que melhor se adapte às “necessidades de cada cliente”.
                </p>
                <button type="button" class="mt-auto btn btn-sm btn-block btn-outline-dark">Mais Informação</button>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="card h-100 border-light">
              <div class="card-body d-flex flex-column">
                <svg class="circle-chart" viewbox="0 0 33.83098862 33.83098862" width="180" height="180"
                  xmlns="http://www.w3.org/2000/svg">
                  <circle class="circle-chart__background" stroke="#efefef" stroke-width="2" fill="none"
                    cx="16.91549431" cy="16.91549431" r="15.91549431" />
                  <circle class="circle-chart__circle" stroke="#00acc1" stroke-width="2" stroke-dasharray="63,100"
                    stroke-linecap="round" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431" />
                  <g class="circle-chart__info">
                    <text class="circle-chart__percent" x="16.91549431" y="15.5" alignment-baseline="central"
                      text-anchor="middle" font-size="8">63%</text>
                  </g>
                </svg>
                <h3 class="mt-2">PPR</h3>
                <p class="card-text text-center">A GoBusiness oferece um conjunto variado de soluções para a proteção do
                  pa- trimónio. Estas soluções podem ser utili- zadas individualmente ou conjugadas entre si, com um
                  único
                  propósito: encon- trar a solução mais segura e que melhor se adapte às “necessidades de cada cliente”.
                </p>
                <button type="button" class="mt-auto btn btn-sm btn-block btn-outline-dark">Mais Informação</button>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="card h-100 border-light">
              <div class="card-body d-flex flex-column">
                <svg class="circle-chart" viewbox="0 0 33.83098862 33.83098862" width="180" height="180"
                  xmlns="http://www.w3.org/2000/svg">
                  <circle class="circle-chart__background" stroke="#efefef" stroke-width="2" fill="none"
                    cx="16.91549431" cy="16.91549431" r="15.91549431" />
                  <circle class="circle-chart__circle" stroke="#00acc1" stroke-width="2" stroke-dasharray="40,100"
                    stroke-linecap="round" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431" />
                  <g class="circle-chart__info">
                    <text class="circle-chart__percent" x="16.91549431" y="15.5" alignment-baseline="central"
                      text-anchor="middle" font-size="8">40%</text>
                  </g>
                </svg>
                <h3 class="mt-2">FUNDO DE PENSÕES</h3>
                <p class="card-text text-center">A GoBusiness oferece um conjunto variado de soluções para a proteção do
                  pa- trimónio. Estas soluções podem ser utili- zadas individualmente ou conjugadas entre si, com um
                  único
                  propósito: encon- trar a solução mais segura e que melhor se adapte às “necessidades de cada cliente”.
                </p>
                <button type="button" class="mt-auto btn btn-sm btn-block btn-outline-dark">Mais Informação</button>
              </div>
            </div>
          </div>

        </div>
      </div>
  </section>

  <!-- Footer -->
  <footer class="bg-black">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-10 mx-auto">
          <p class="text-white">Avenida da Igreja, nº 42, 3º Dto, 1700-035 Lisboa, Portugal</p>
          <p class="text-white">Telefone: +351 215 968 059 Fax: +351 215 968 066 info@gobusinessfinance.ch</p>
        </div>
        <div class="col-lg-6 col-md-10 mx-auto">
          <p class="copyright text-muted text-white">Copyright &copy; GoBusiness 2020</p>
        </div>
      </div>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="../vendor/jquery/jquery.min.js"></script>
  <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="../js/clean-blog.min.js"></script>

</body>

</html>