<!DOCTYPE html>
<html lang="pt">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Produtos - GoBusiness</title>

  <!-- Bootstrap core CSS -->
  <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="../vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet'
    type='text/css'>
  <link
    href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
    rel='stylesheet' type='text/css'>

  <!-- Custom styles for this template -->
  <link href="../css/clean-blog.css" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand" href="index.html"><img src="/logos/Gobusiness.png" lass="rounded mx-auto d-block" width="200" height="50"></a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
        data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
        aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="../index.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="grupo.html">Grupo GoBusiness</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="solutions.html">Soluções</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="produtos.html">Produtos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="case_studies.html">Case Studies</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contacts.html">Contactos</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('../imagens/sea_waves.jpg')">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>One Stop <br> Shop</h1>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->

  <div class="container">
    <div class="row mb-4">
      <div class="col-lg-9 col-md-10 mx-auto text-center mt-3">
        <h2 class="mt-0 mb-2 text-center">Produtos </h2>
        <p class="text-center">Nós não temos stock. O nosso inventário é um quadro branco e uma caneta. Isso basta-nos para estudarmos o seu caso único e apresentar a sua solução única.
         <br> Ainda assim, temos alguns exemplos de soluções para aguçar o seu apetite...
          </p>
        <a href="contacts.html" class="btn btn-outline-dark">Mais Informação</a>
      </div>
    </div>

  </div>

  <!-- Main Products -->

  <section class="page-section" id="services">

    <div class="container">
      <div class="row">
        <div class="col-lg-4 mb-4">
          <div class="card h-100 border-light bg-whiteyellow">
            <div class="card-body d-flex flex-column text-center">
              <div class="container center">
                <svg class="circle-chart" viewbox="0 0 33.83098862 33.83098862" width="180" height="180"
                  xmlns="http://www.w3.org/2000/svg">
                  <circle class="circle-chart__background" stroke="#efefef" stroke-width="2" fill="none"
                    cx="16.91549431" cy="16.91549431" r="15.91549431" />
                  <circle class="circle-chart__circle" stroke="#000000" stroke-width="2" stroke-dasharray="9,100"
                    stroke-linecap="round" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431" />
                  <g class="circle-chart__info">
                    <text class="circle-chart__percent" x="16.91549431" y="15.5" alignment-baseline="central"
                      text-anchor="middle" font-size="8">9%</text>
                  </g>
                </svg>
              </div>
              <h3 style="font-family: Lora;" class="mt-2 text-center">ESTRUTURAS</h3>
              <h4>23/23 ameaças</h4>
              <p class="card-text text-center">A GoBusiness oferece um conjunto variado de soluções para a proteção do
                pa- trimónio. Estas soluções podem ser utili- zadas individualmente ou conjugadas entre si, com um único
                propósito: encon- trar a solução mais segura e que melhor se adapte às “necessidades de cada cliente”.
              </p>
              <a href="secondary_pages/estruturas.html" class="mt-auto btn btn-outline-dark">Mais Informação</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="card h-100 border-light bg-whiteyellow">
            <div class="card-body d-flex flex-column text-center">
              <div class="container center">
                <svg class="circle-chart" viewbox="0 0 33.83098862 33.83098862" width="180" height="180"
                  xmlns="http://www.w3.org/2000/svg">
                  <circle class="circle-chart__background" stroke="#efefef" stroke-width="2" fill="none"
                    cx="16.91549431" cy="16.91549431" r="15.91549431" />
                  <circle class="circle-chart__circle" stroke="#000000" stroke-width="2" stroke-dasharray="100,100"
                    stroke-linecap="round" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431" />
                  <g class="circle-chart__info">
                    <text class="circle-chart__percent" x="16.91549431" y="15.5" alignment-baseline="central"
                      text-anchor="middle" font-size="8">100%</text>
                  </g>
                </svg>
              </div>
              <h3 style="font-family: Lora;" class="mt-2 text-center">FUNDO DEDICADO</h3>
              <h4>23/23 ameaças</h4>
              <p class="card-text text-center">A GoBusiness oferece um conjunto variado de soluções para a proteção do
                pa- trimónio. Estas soluções podem ser utili- zadas individualmente ou conjugadas entre si, com um único
                propósito: encon- trar a solução mais segura e que melhor se adapte às “necessidades de cada cliente”.
              </p>
              <a href="secondary_pages/fundo_dedicado.html" class="mt-auto btn btn-outline-dark">Mais Informação</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="card h-100 border-light bg-whiteyellow">
            <div class="card-body d-flex flex-column text-center">
              <div class="container center">
                <svg class="circle-chart" viewbox="0 0 33.83098862 33.83098862" width="180" height="180"
                  xmlns="http://www.w3.org/2000/svg">
                  <circle class="circle-chart__background" stroke="#efefef" stroke-width="2" fill="none"
                    cx="16.91549431" cy="16.91549431" r="15.91549431" />
                  <circle class="circle-chart__circle" stroke="#000000" stroke-width="2" stroke-dasharray="83,100"
                    stroke-linecap="round" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431" />
                  <g class="circle-chart__info">
                    <text class="circle-chart__percent" x="16.91549431" y="15.5" alignment-baseline="central"
                      text-anchor="middle" font-size="8">83%</text>
                  </g>
                </svg>
              </div>
              <h3 style="font-family: Lora;" class="mt-2 text-center">UNIVERSAL LIFE</h3>
              <h4>19/23 ameaças</h4>
              <p class="card-text text-center">A GoBusiness oferece um conjunto variado de soluções para a proteção do
                pa- trimónio. Estas soluções podem ser utili- zadas individualmente ou conjugadas entre si, com um único
                propósito: encon- trar a solução mais segura e que melhor se adapte às “necessidades de cada cliente”.
              </p>
              <a href="secondary_pages/universal_life.html" class="mt-auto btn btn-outline-dark">Mais Informação</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 mb-4">
          <div class="card h-100 border-light bg-whiteyellow">
            <div class="card-body d-flex flex-column text-center">
              <div class="container center">
                <svg class="circle-chart" viewbox="0 0 33.83098862 33.83098862" width="180" height="180"
                  xmlns="http://www.w3.org/2000/svg">
                  <circle class="circle-chart__background" stroke="#efefef" stroke-width="2" fill="none"
                    cx="16.91549431" cy="16.91549431" r="15.91549431" />
                  <circle class="circle-chart__circle" stroke="#000000" stroke-width="2" stroke-dasharray="83,100"
                    stroke-linecap="round" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431" />
                  <g class="circle-chart__info">
                    <text class="circle-chart__percent" x="16.91549431" y="15.5" alignment-baseline="central"
                      text-anchor="middle" font-size="8">83%</text>
                  </g>
                </svg>
              </div>
              <h3 style="font-family: Lora;" class="mt-2 text-center">EVOLUTIO</h3>
              <h4>23/23 ameaças</h4>
              <p class="card-text text-center">A GoBusiness oferece um conjunto variado de soluções para a proteção do
                pa- trimónio. Estas soluções podem ser utili- zadas individualmente ou conjugadas entre si, com um único
                propósito: encon- trar a solução mais segura e que melhor se adapte às “necessidades de cada cliente”.
              </p>
              <a href="secondary_pages/evolutio.html" class="mt-auto btn btn-outline-dark">Mais Informação</a>
            
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="card h-100 border-light bg-whiteyellow">
            <div class="card-body d-flex flex-column text-center">
              <div class="container center">
                <svg class="circle-chart" viewbox="0 0 33.83098862 33.83098862" width="180" height="180"
                  xmlns="http://www.w3.org/2000/svg">
                  <circle class="circle-chart__background" stroke="#efefef" stroke-width="2" fill="none"
                    cx="16.91549431" cy="16.91549431" r="15.91549431" />
                  <circle class="circle-chart__circle" stroke="#000000" stroke-width="2" stroke-dasharray="100,100"
                    stroke-linecap="round" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431" />
                  <g class="circle-chart__info">
                    <text class="circle-chart__percent" x="16.91549431" y="15.5" alignment-baseline="central"
                      text-anchor="middle" font-size="8">100%</text>
                  </g>
                </svg>
              </div>
              <h3 style="font-family: Lora;" class="mt-2 text-center">PROGRAMAS RESIDENCIAS</h3>
              <h4>23/23 ameaças</h4>
              <p class="card-text text-center">A GoBusiness oferece um conjunto variado de soluções para a proteção do
                pa- trimónio. Estas soluções podem ser utili- zadas individualmente ou conjugadas entre si, com um único
                propósito: encon- trar a solução mais segura e que melhor se adapte às “necessidades de cada cliente”.
              </p>
              <a href="secondary_pages/golden_visa.html" class="mt-auto btn btn-outline-dark">Mais Informação</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="card h-100 border-light bg-whiteyellow">
            <div class="card-body d-flex flex-column text-center">
              <div class="container center">
                <svg class="circle-chart" viewbox="0 0 33.83098862 33.83098862" width="180" height="180"
                  xmlns="http://www.w3.org/2000/svg">
                  <circle class="circle-chart__background" stroke="#efefef" stroke-width="2" fill="none"
                    cx="16.91549431" cy="16.91549431" r="15.91549431" />
                  <circle class="circle-chart__circle" stroke="#000000" stroke-width="2" stroke-dasharray="43,100"
                    stroke-linecap="round" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431" />
                  <g class="circle-chart__info">
                    <text class="circle-chart__percent" x="16.91549431" y="15.5" alignment-baseline="central"
                      text-anchor="middle" font-size="8">43%</text>
                  </g>
                </svg>
              </div>
              <h3 style="font-family: Lora;" class="mt-2 text-center">CONTAS NO EXTERIOR</h3>
              <h4>02/23 ameaças</h4>
              <p class="card-text text-center">A GoBusiness oferece um conjunto variado de soluções para a proteção do
                pa- trimónio. Estas soluções podem ser utili- zadas individualmente ou conjugadas entre si, com um único
                propósito: encon- trar a solução mais segura e que melhor se adapte às “necessidades de cada cliente”.
              </p>
              <a href="secondary_pages/contas_exterior.html" class="mt-auto btn btn-outline-dark">Mais Informação</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 mb-4">
          <div class="card h-100 border-light bg-whiteyellow">
            <div class="card-body d-flex flex-column text-center">
              <div class="container center">
                <svg class="circle-chart" viewbox="0 0 33.83098862 33.83098862" width="180" height="180"
                  xmlns="http://www.w3.org/2000/svg">
                  <circle class="circle-chart__background" stroke="#efefef" stroke-width="2" fill="none"
                    cx="16.91549431" cy="16.91549431" r="15.91549431" />
                  <circle class="circle-chart__circle" stroke="#000000" stroke-width="2" stroke-dasharray="61,100"
                    stroke-linecap="round" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431" />
                  <g class="circle-chart__info">
                    <text class="circle-chart__percent" x="16.91549431" y="15.5" alignment-baseline="central"
                      text-anchor="middle" font-size="8">61%</text>
                  </g>
                </svg>
              </div>
              <h3 style="font-family: Lora;" class="mt-2 text-center">FUNDAÇÃO</h3>
              <h4>14/23 ameaças</h4>
              <p class="card-text text-center">A GoBusiness oferece um conjunto variado de soluções para a proteção do
                pa- trimónio. Estas soluções podem ser utili- zadas individualmente ou conjugadas entre si, com um único
                propósito: encon- trar a solução mais segura e que melhor se adapte às “necessidades de cada cliente”.
              </p>
              <a href="secondary_pages/fundacao.html" class="mt-auto btn btn-outline-dark">Mais Informação</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="card h-100 border-light bg-whiteyellow">
            <div class="card-body d-flex flex-column text-center">
              <div class="container center">
                <svg class="circle-chart" viewbox="0 0 33.83098862 33.83098862" width="180" height="180"
                  xmlns="http://www.w3.org/2000/svg">
                  <circle class="circle-chart__background" stroke="#efefef" stroke-width="2" fill="none"
                    cx="16.91549431" cy="16.91549431" r="15.91549431" />
                  <circle class="circle-chart__circle" stroke="#000000" stroke-width="2" stroke-dasharray="61,100"
                    stroke-linecap="round" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431" />
                  <g class="circle-chart__info">
                    <text class="circle-chart__percent" x="16.91549431" y="15.5" alignment-baseline="central"
                      text-anchor="middle" font-size="8">61%</text>
                  </g>
                </svg>
              </div>
              <h3 style="font-family: Lora;" class="mt-2 text-center">FUNDO DE PENSÕES</h3>
              <h4>14/23 ameaças</h4>
              <p class="card-text text-center">A GoBusiness oferece um conjunto variado de soluções para a proteção do
                pa- trimónio. Estas soluções podem ser utili- zadas individualmente ou conjugadas entre si, com um
                único
                propósito: encon- trar a solução mais segura e que melhor se adapte às “necessidades de cada cliente”.
              </p>
              <a href="secondary_pages/fundos_pensoes.html" class="mt-auto btn btn-outline-dark">Mais Informação</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="card h-100 border-light bg-whiteyellow">
            <div class="card-body d-flex flex-column text-center">
              <div class="container center">
                <svg class="circle-chart" viewbox="0 0 33.83098862 33.83098862" width="180" height="180"
                  xmlns="http://www.w3.org/2000/svg">
                  <circle class="circle-chart__background" stroke="#efefef" stroke-width="2" fill="none"
                    cx="16.91549431" cy="16.91549431" r="15.91549431" />
                  <circle class="circle-chart__circle" stroke="#000000" stroke-width="2" stroke-dasharray="61,100"
                    stroke-linecap="round" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431" />
                  <g class="circle-chart__info">
                    <text class="circle-chart__percent" x="16.91549431" y="15.5" alignment-baseline="central"
                      text-anchor="middle" font-size="8">61%</text>
                  </g>
                </svg>
              </div>
              <h3 style="font-family: Lora;" class="mt-2 text-center">INVESTEMENT CELL</h3>
              <h4>14/23 ameaças</h4>
              <p class="card-text text-center">A GoBusiness oferece um conjunto variado de soluções para a proteção do
                pa- trimónio. Estas soluções podem ser utili- zadas individualmente ou conjugadas entre si, com um único
                propósito: encon- trar a solução mais segura e que melhor se adapte às “necessidades de cada cliente”.
              </p>
              <a href="secondary_pages/investement.html" class="mt-auto btn btn-outline-dark">Mais Informação</a>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 mb-4">
            <div class="card h-100 border-light bg-whiteyellow">
              <div class="card-body d-flex flex-column text-center">
                <div class="container center">
                  <svg class="circle-chart" viewbox="0 0 33.83098862 33.83098862" width="180" height="180"
                    xmlns="http://www.w3.org/2000/svg">
                    <circle class="circle-chart__background" stroke="#efefef" stroke-width="2" fill="none"
                      cx="16.91549431" cy="16.91549431" r="15.91549431" />
                    <circle class="circle-chart__circle" stroke="#000000" stroke-width="2" stroke-dasharray="65,100"
                      stroke-linecap="round" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431" />
                    <g class="circle-chart__info">
                      <text class="circle-chart__percent" x="16.91549431" y="15.5" alignment-baseline="central"
                        text-anchor="middle" font-size="8">65%</text>
                    </g>
                  </svg>
                </div>
                <h3 style="font-family: Lora;" class="mt-2 text-center">HOLDING</h3>
                <h4>15/23 ameaças</h4>
                <p class="card-text text-centers">A GoBusiness oferece um conjunto variado de soluções para a proteção do
                  pa- trimónio. Estas soluções podem ser utili- zadas individualmente ou conjugadas entre si, com um
                  único
                  propósito: encon- trar a solução mais segura e que melhor se adapte às “necessidades de cada cliente”.
                </p>
                <a href="secondary_pages/holding.html" class="mt-auto btn btn-outline-dark">Mais Informação</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 mb-4">
            <div class="card h-100 border-light bg-whiteyellow">
              <div class="card-body d-flex flex-column text-center">
                <div class="container center">
                  <svg class="circle-chart" viewbox="0 0 33.83098862 33.83098862" width="180" height="180"
                    xmlns="http://www.w3.org/2000/svg">
                    <circle class="circle-chart__background" stroke="#efefef" stroke-width="2" fill="none"
                      cx="16.91549431" cy="16.91549431" r="15.91549431" />
                    <circle class="circle-chart__circle" stroke="#000000" stroke-width="2" stroke-dasharray="78,100"
                      stroke-linecap="round" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431" />
                    <g class="circle-chart__info">
                      <text class="circle-chart__percent" x="16.91549431" y="15.5" alignment-baseline="central"
                        text-anchor="middle" font-size="8">78%</text>
                    </g>
                  </svg>
                </div>
                <h3 style="font-family: Lora;" class="mt-2 text-center">PPR</h3>
                <h4>18/23 ameaças</h4>
                <p class="card-text text-center">A GoBusiness oferece um conjunto variado de soluções para a proteção do
                  pa- trimónio. Estas soluções podem ser utili- zadas individualmente ou conjugadas entre si, com um
                  único
                  propósito: encon- trar a solução mais segura e que melhor se adapte às “necessidades de cada cliente”.
                </p>
                <a href="secondary_pages/ppr.html" class="mt-auto btn btn-outline-dark">Mais Informação</a>
              </div>
            </div>
          </div>
         
        
        </div>
      </div>
  </section>

  <!-- Footer -->
  <footer class="bg-black">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-10 mx-auto">
          <p class="text-white">Avenida da Igreja, nº 42, 3º Dto, 1700-035 Lisboa, Portugal</p>
          <p class="text-white">Telefone: +351 215 968 059 Fax: +351 215 968 066 info@gobusinessfinance.ch</p>
        </div>
        <div class="col-lg-6 col-md-10 mx-auto">
          <p class="copyright text-muted text-white">Copyright &copy; GoBusiness 2020</p>
        </div>
      </div>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="../vendor/jquery/jquery.min.js"></script>
  <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="../js/clean-blog.min.js"></script>

</body>

</html>