<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Clean Blog - Start Bootstrap Theme</title>

  <!-- Bootstrap core CSS -->
  <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="../vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

  <!-- Custom styles for this template -->
  <link href="../css/clean-blog.css" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand" href="../index.html">GoBusiness</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="../index.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="grupo.html">Grupo GoBusiness</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="solutions.html">Soluções</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="produtos.html">Produtos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="case_studies.html">Case Studies</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contacts.html">Contactos</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('../imagens/ali-inay-I7ZujO1CtEw-unsplash.jpg')">
    <div class="container">
      <div class="row no-gutters">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Complex Problems?<br/>Simple Solutions</h1>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!--Introduction-->
  <section class="page-section bg-whiteyellow" id="solutions">
    <div class="container-fluid">
      <div class="row no-gutters">
        <div class="col-lg-8 col-md-10 mx-auto text-center mt-3">
          <h2>Aquilo em que nós acreditamos</h2>
          <p class="text-center">A nossa abordagem é holística.
             Sabemos que as nossas soluções valem mais do que a simples soma das várias componentes separadas. 
             É por isso que a nossa ação tem dois momentos: a Proteção e a Gestão.</p>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-4 col-md-3 mt-3 mb-3">
          <h2 class="text-center">01</h2>
          <h2>Proteção do</br>Património</h2>
        </div>
        <div class="col-lg-2 col-md-2 mt-3 mb-3">
          <img src="/icons/arrow-right.svg" class="arrow mx-auto mt-5 .d-none .d-sm-block" width="100" height="100" title="Bootstrap">
          <img src="/icons/arrow-down.svg" class="arrow90 mx-auto .d-block .d-sm-none" width="100" height="100" title="Bootstrap">         
        </div>
        <div class="col-lg-4 col-md-3 mt-3 mb-3">
          <h2 class="text-center">02</h2>
          <h2>Gestão do</br>Património</h2>
        </div>
      </div>
    </div>
  </section>
  
  <!--Explanation-->
  <section class="page-section" id="explanation">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 text-left">
          <h2 class="text-left">Proteção</h2>
          <p class="text-left">Cada cliente é um caso específico e tem direito a ser tratado com uma análise específica. 
          Apenas conhecendo o seu caso particular podemos determinar qual a solução personalizada à sua medida para responder 
          aos seus problemas complexos e que simultaneamente vai reduzir o risco das ameaças potenciais se tornarem também elas problemas.</p>
          <a href="/main_pages/protecao.html" class="btn btn-outline-dark">Mais Informação</a>
          <img src="/imagens/umbrellas.jpg" class="img-fluid" alt="Umbrellas">
        </div>
        <div class="col-lg-6 text-right">
          <h2 class="text-right">Gestão</h2>
          <p class="text-right">Os seus ativos, que podem ser financeiros ou reais, precisam de uma estratégia clara e definida.
              Para isso, trabalhamos apenas com os melhores profissionais das suas respetivas áreas e garantimos que a sua competência 
              se mantém constante e consistente ao longo do tempo.</p>
          <a href="/main_pages/protecao.html" class="btn btn-outline-dark">Mais Informação</a>
          <img src="/imagens/chess.jpg" class="img-fluid" alt="Chess">
        </div>
      </div>
    </div>
    <hr>
  </section>
  
  <!-- Footer -->
  <footer class="bg-black">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-10 mx-auto">
          <p class="text-white">Avenida da Igreja, nº 42, 3º Dto, 1700-035 Lisboa, Portugal</p>
          <p class="text-white">Telefone: +351 215 968 059 Fax: +351 215 968 066 info@gobusinessfinance.ch</p>
        </div>
        <div class="col-lg-6 col-md-10 mx-auto">
          <p class="copyright text-muted text-white">Copyright &copy; GoBusiness 2020</p>
        </div>
      </div>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="../vendor/jquery/jquery.min.js"></script>
  <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="../js/clean-blog.min.js"></script>

</body>

</html>